.pay-tip{
	background: #71747A;font-size: 0.12rem;color: #FFF;text-align: center;padding: 0.1rem 0;
}
.pay-tip span{
	font-size: 0.17rem;
}
.pay-list a{
	display: block;font-size: 0.17rem;height: 0.6rem;line-height: 0.6rem;padding: 0 0.12rem;white-space: nowrap;
}
.pay-list img{
	width: .372rem;height: .372rem;margin-right: 0.08rem;vertical-align: middle;
}

.warp-wx_pay{padding:.2rem .3rem;}
.warp-wx_pay h5{margin-bottom:.1rem;}
.warp-wx_pay img.CodeImg{background:#fff;padding:.01rem;margin:.1rem auto;max-width:300px;display:block;}
.warp-wx_pay i.tips{color:#fff;background:#c5c5c5;display:block;width:.85rem;text-align:center;border-radius:.12rem;margin:.2rem auto;position:relative;}
.warp-wx_pay i.tips i{display:block;position:absolute;width:0;height:0;left:50%;top:0;margin:-5px 0 0 -5px;border-width:0 5px 5px;border-color:transparent;border-bottom-color:#c5c5c5;border-style:solid;}
.i-tips{background:url(../images/i-heart-tip.png) no-repeat ;background-size:contain ;display:inline-block;width:.24rem;height:.24rem;vertical-align:middle;margin-right:.04rem;}

